bin
/cron_scripts/
/downloads/
/etc/apache/prod.vhost.conf
/etc/init.d/
/etc/logrotate.conf
/etc/project/kgs.cfg
/etc/sys/settings-prod.cfg
/minitage.buildout-prod.cfg
/old-git/
/varsyn.sh
*pyc
etc/project/mars-kgs.cfg
develop-eggs/
etc/apache/100-mars.reverseproxy.conf
etc/forespir.env
etc/hudson/mars/build/activate_env.sh
etc/hudson/mars/config.xml
etc/mars.env
!etc/sys
.installed.cfg
minilays/
.minitage
minitage.buildout-dev.cfg.before.fixed_version.bak*
.mr.developer.cfg
parts
src.mrdeveloper/*
!src.mrdeveloper/zopelib
sys
!etc/sys
t
var
src.mrdeveloper/zopelib/zopelib.egg-info
.idea
