bin
sync.sh
tags.python
etc/mars.env
.svn
develop-eggs/
etc/apache/100-mars.policy.reverseproxy.conf
etc/forespir.env
etc/hudson/mars.policy/build/activate_env.sh
etc/hudson/mars.policy/config.xml
etc/mars.policy.env
!etc/sys
.installed.cfg
minilays/
.minitage
minitage.buildout-dev.cfg.before.fixed_version.bak*
.mr.developer.cfg
parts
src.mrdeveloper/*
!src.mrdeveloper/zopelib
sys
!etc/sys
t
var
src.mrdeveloper/zopelib/zopelib.egg-info
