# Plone production buildout
# It will install your plone in production mode
# Launch it:
# bin/buildout -c buildout-prod.cfg
# or minimerge -NuUvR mars-prod-light
# Look at the base buildout: ./etc/base.cfg for other details of your plone installation


[buildout]
extends-cache=etc/cache
index = https://pypi.org/simple/
extends =
    etc/base.cfg
    etc/sys/maintenance.cfg
    etc/sys/high-availability.cfg
    etc/backends/zeo.cfg
    etc/sys/settings-prod.cfg
parts=
    ${buildout:base-parts}
    ${buildout:dev-parts}
# vim:set ft=cfg:
