# BASE VERSIONS PINNING

[versions]
# add hand pinned version there
# plone32 hack to remove the bugged fixed version of buildout.

Products.PloneHotfix20110720 = 1.2
Products.PloneHotfix20110928 = 1.1
Products.PloneHotfix20150910 = 1.1
Products.PloneHotfix20151208 = 1.0
Products.PloneHotfix20160419 = 1.0
Products.PloneHotfix20160830 = 1.3
Products.PloneHotfix20161129 = 1.2
Products.PloneHotfix20170117 = 1.0
# never ever pin paste and other base eggs
zc.recipe.egg=1.3.2
zc.buildout=2.7.0

zest.releaser = 3.20
zope.testrunner = 4.0.3
plone.recipe.command = 1.1
plone.recipe.distros = 1.5
bpython = 0.9.7.1
Cheetah = 2.2.1
collective.recipe.backup =2.22
collective.recipe.omelette = 0.16
collective.recipe.template = 1.10
Pygments = 1.6

# For cynin
jsonlib = 1.3.10

collective.ckeditor=4.3.0b2
collective.quickupload = 1.6.6
collective.uploadify = 1.2
collective.xmltestreport = 1.3.1

collective.zipfiletransport = 3.2.3

jarn.mkrelease = 3.0.9
Markdown = 2.0.3
ordereddict = 1.1
Products.ATExtensions = 1.1
Products.ContentWellPortlets = 4.1.0
Products.PloneKeywordManager = 2.2.0
Products.Maps = 3.3
WebOb = 1.1.3
z3c.jbot = 0.7.1

# plomino
Plomino = 1.13.4
Products.CMFPlomino = 1.18.3
plomino.tinymce =  0.7.2
collective.codemirror = 0.2
jsonutil = 1.0.3

# biblio
bibliograph.core           =1.0.3
bibliograph.parsing        =1.0.1
bibliograph.rendering      =1.0.2
Products.CMFBibliographyAT =1.1.2
Products.ATBiblioStyles = 1.0.0
pyisbn = 0.6.0

# with_ploneproduct_cjqui
collective.js.jqueryui = 1.10.4

# eea
Products.AdvancedQuery = 3.0.3
eea.facetednavigation = 7.4
eea.faceted.vocabularies = 5.0
eea.jquery = 8.1

Products.ATVocabularyManager = 1.6.6
imsvdex = 1.1

collective.plonefinder = 1.0.7
demjson = 1.6
docutils = 0.9.1
elementtreewriter = 1.1
persistent = 4.0.6
plone.formwidget.datetime = 1.1

ua-parser = 0.3.4

collective.z3cform.keywordwidget=1.2

Products.kupu=1.5.2
Products.csvreplicata = 1.1.13

plone.app.ldap = 1.3.1
Products.PloneLDAP=1.2
Products.LDAPUserFolder=2.26
Products.CMFLDAP=1.0
pas.plugins.ldap=1.0.2
Products.LDAPMultiPlugins=1.14

Markdown = 2.0.3
persistent = 4.0.6
chardet = 2.1.1
collective.codemirror = 0.2
collective.z3cform.keywordwidget = 1.2
demjson = 1.6
jsonutil = 1.0.3
gdata = 2.0.18
collective.dexteritytextindexer = 2.0.1
collective.googleanalytics = 1.4.4

six = 1.6.0

Paste = 1.7.5.1
PasteDeploy = 1.5.0
PasteScript = 1.7.5
collective.z3cform.widgets = 1.0b9
dataflake.fakeldap = 1.0
python-ldap = 2.4.13
setuptools = 34.1.0
z3c.recipe.scripts = 1.0.1
z3c.recipe.usercrontab = 1.4
collective.recipe.supervisor = 0.20
setuptools-git = 1.1
setuptools-hg = 0.4
supervisor = 3.0

appdirs = 1.4.0

# dev
meld3 = 1.0.2
gprof2dot = 2016.10.13
ZopeSkel = 2.21.2
collective.dist = 0.2.5
collective.releaser = 0.7.1
virtualenv = 15.1.0
multiprocessing = 2.6.2.1
MarkupSafe = 0.23
collective.generic.devmode = 1.0
i18ndude = 4.1
packaging = 16.8
pyparsing = 2.1.10

ctypes=1.0.2
plone.reload = 1.3
plone.recipe.zeoserver = 1.2.9
plone.formwidget.masterselect = 1.6
ecreall.helpers.upgrade = 1.3
