# ZEO backend support and configuration

# may be not used but it is good to have it in case.
[zeoserver]
recipe = plone.recipe.zeoserver
blob-storage = ${buildout:directory}/var/blobstorage/storage
zeo-address = ${hosts:zeoserver}:${ports:zeoserver}

[zeoserver-entomo]
<= zeoserver
blob-storage = ${buildout:directory}/var/blobstorage/storage-entomo
zeo-address = ${hosts:zeoserver-entomo}:${ports:zeoserver-entomo}
file-storage = ${buildout:directory}/var/filestorage/Data.entomo.fs
zeopack-script-name = ${buildout:bin-directory}/zeopack-entomo
socket-name = ${buildout:directory}/var/zeo-entomo.zdsock

[zeoserver-geology]
<= zeoserver
blob-storage = ${buildout:directory}/var/blobstorage/storage-geology
zeo-address = ${hosts:zeoserver-geology}:${ports:zeoserver-geology}
file-storage = ${buildout:directory}/var/filestorage/Data.geology.fs
zeopack-script-name = ${buildout:bin-directory}/zeopack-geology
socket-name = ${buildout:directory}/var/zeo-geology.zdsock

[zeoserver-invertebrates]
<= zeoserver
blob-storage = ${buildout:directory}/var/blobstorage/storage-invertebrates
zeo-address = ${hosts:zeoserver-invertebrates}:${ports:zeoserver-invertebrates}
file-storage = ${buildout:directory}/var/filestorage/Data.invertebrates.fs
zeopack-script-name = ${buildout:bin-directory}/zeopack-invertebrates
socket-name = ${buildout:directory}/var/zeo-invertebrates.zdsock

[zeoserver-vertebrates]
<= zeoserver
blob-storage = ${buildout:directory}/var/blobstorage/storage-vertebrates
zeo-address = ${hosts:zeoserver-vertebrates}:${ports:zeoserver-vertebrates}
file-storage = ${buildout:directory}/var/filestorage/Data.vertebrates.fs
zeopack-script-name = ${buildout:bin-directory}/zeopack-vertebrates
socket-name = ${buildout:directory}/var/zeo-vertebrates.zdsock

[zeoserver-paleontology]
<= zeoserver
blob-storage = ${buildout:directory}/var/blobstorage/storage-paleontology
zeo-address = ${hosts:zeoserver-paleontology}:${ports:zeoserver-paleontology}
file-storage = ${buildout:directory}/var/filestorage/Data.paleontology.fs
zeopack-script-name = ${buildout:bin-directory}/zeopack-paleontology
socket-name = ${buildout:directory}/var/zeo-paleontology.zdsock

[zeoserver-anthropology]
<= zeoserver
blob-storage = ${buildout:directory}/var/blobstorage/storage-anthropology
zeo-address = ${hosts:zeoserver-anthropology}:${ports:zeoserver-anthropology}
file-storage = ${buildout:directory}/var/filestorage/Data.anthropology.fs
zeopack-script-name = ${buildout:bin-directory}/zeopack-anthropology
socket-name = ${buildout:directory}/var/zeo-anthropology.zdsock

[zeoserver-projects]
<= zeoserver
blob-storage = ${buildout:directory}/var/blobstorage/storage-projects
zeo-address = ${hosts:zeoserver-projects}:${ports:zeoserver-projects}
file-storage = ${buildout:directory}/var/filestorage/Data.projects.fs
zeopack-script-name = ${buildout:bin-directory}/zeopack-projects
socket-name = ${buildout:directory}/var/zeo-projects.zdsock

[zeoserver-cpb]
<= zeoserver
blob-storage = ${buildout:directory}/var/blobstorage/storage-cpb
zeo-address = ${hosts:zeoserver-cpb}:${ports:zeoserver-cpb}
file-storage = ${buildout:directory}/var/filestorage/Data.cpb.fs
zeopack-script-name = ${buildout:bin-directory}/zeopack-cpb
socket-name = ${buildout:directory}/var/zeo-cpb.zdsock

[instance]
shared-blob = on
zeo-client-cache-size = ${cache:zeo-client-cache-size}
zeo-client = on

[instance1]
blob-storage = ${zeoserver:blob-storage}

[instance1-entomo]
blob-storage = ${zeoserver-entomo:blob-storage}

[instance1-geology]
blob-storage = ${zeoserver-geology:blob-storage}

[instance1-invertebrates]
blob-storage = ${zeoserver-invertebrates:blob-storage}

[instance1-vertebrates]
blob-storage = ${zeoserver-vertebrates:blob-storage}

[instance1-paleontology]
blob-storage = ${zeoserver-paleontology:blob-storage}

[instance1-anthropology]
blob-storage = ${zeoserver-anthropology:blob-storage}

[instance1-projects]
blob-storage = ${zeoserver-projects:blob-storage}

[instance1-cpb]
blob-storage = ${zeoserver-cpb:blob-storage}
